<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>회원가입</mat-card-title>
    </mat-card-header>

    <form class="example-form" >
      
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="이름">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="이메일">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="@">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="비밀번호">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="비밀번호 확인">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>가입 대상</mat-label>
          <mat-select>
            <mat-option [value]="user" *ngFor="let user of User">{{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-stroked-button color="accent" class="btn-block">가입</button>
      </mat-card-content>

    </form>
  </mat-card>
</div>