<style>
  .setting {
    border: solid 1px black;
    width: 30%;
    margin: 3%;
    text-align: center;
    padding: 5px;
  }
</style>
<div class="setting">
  <p>문자테스트</p>
  <h3>Current customer : {{ currentCustomer}}</h3>
  <p>다른문자가능{{title}}</p>
</div>

<div class="setting">
  <p>이미지삽입</p>
  <img src="{{itemImageUrl}}">
</div>

<div class="setting">
  <p>표현식 계산</p>
  <p>The sum of 50 * 65 is {{50 * 65}}</p>
  <p>The sum of 50 * 65 is {{50 * 62}}</p>
  <app-calcul></app-calcul>
</div>

<div class="setting">
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <div [style.font-size.px]="fontSizePx">부모</div>
</div>

